/**
 * Styles for smartphone browsers (webkit based).
 *
 * Use images more extensively than lowend.css
 */

/* TODO: convert to CSS sprites */

.documentContent ul {
    list-style-image: url(++resource++gomobiletheme.twinapex/arrow-blue.png);
}

#header {
    background: white url(++resource++gomobiletheme.twinapex/header.gif) repeat-x bottom left;
    padding-bottom: 20px;
}

#footer {
    padding-top: 20px;
    background: black url(++resource++gomobiletheme.twinapex/footer.gif) repeat-x top left;
}

#visual-margin {
    background: white url(++resource++gomobiletheme.twinapex/gradient.gif) repeat-x top left;
}
