/**
 * Styles used by all mobile browsers.
 *
 */

/* CSS reset a la Limi */
* { margin: 0; padding: 0; }
* :link,:visited { text-decoration:none }
* ul,ol { list-style:none; }
* li { display: inline; }
* h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
* a img,:link img,:visited img { border:none } 
a { outline: none; }
table { border-spacing: 0; }
img { vertical-align: middle; }

body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #ddd;
    color: black;
}

img {
    border: 0;
}

h1 {
    border-bottom: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1 {
  font-size: 150%;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

h2, h3, h4, h5, h6 {
    font-size: 1.1em;
}

h3 {
}

ul {
}


#margins {
    margin-left: auto;
    margin-right: auto;
    background: white;
}


/* 
 * Do not look stupid on desktop browsers.
 *
 * If screen width is too wide, clip displayable area to 800 px.
 */
@media screen and (min-device-width: 850px) {
        #margins {
           -webkit-box-shadow: 0 0 4px black;
            -moz-box-shadow: 0 0 4px black;
            box-shadow: 0 0 4px black;
            max-width: 800px;
        }
}


#content {
    padding: 0.5em;
    background: white;
    color: black;
}


#header {
    background: #ddd;
    color: white;
    text-align: left;
    overflow: clip;
}


#header a.text-only,
#header a:text-only,
#header a:text-only, {
    color: #205C90;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em;
}

#header a.text-only:hover  {
    background-color: #205C90;
    color: white;
    text-decoration: none;
}


#logo {
    padding: 0.5em;
    float: left;
}

#logo img {
    display: inline;
}

#language-chooser {
  float: right;
}

#mobile-site-actions {
  padding: 0.5em;
  list-style: none;
  float: right;
}

#mobile-site-actions li {
  margin-left: 16px;
}

#portal-breadcrumbs {
   margin-bottom: 1em;
}


/* Content */

#content h2 {
        margin-bottom: 0.5em;        
}

.documentFirstHeading {
	margin-top: 0;
}

.documentDescription, .discreet, .documentByLine {
    color: #999;
    font-size: 85%;
}

.documentDescription,
#content p,
#content .description {
    margin-bottom: 1em;
}

#content ul {
	list-style: disc;
	margin-left: 1.5em;
}

#content ul li {
	display: list-item;
	padding-bottom: 0.5em;
}

/* Force wrapping of very long words, like links */
#content {
        /*word-break: break-all;*/
	word-wrap: break-word;
}


/* Makes easier to hit link lists */
#content li {
  margin-bottom: 0.5em;
}


/* no link underlinings */
a,
a:active,
a:visited,
.documentContent li a,
.documentContent li a:active,
.documentContent li a:visited,
.documentContent p a,
.documentContent p a:visited,
.documentContent p a:active {
    border: 0;
    text-decoration: none;
    color: #205C90;
}

a:hover,
.documentContent li a:hover,
.documentContent p a:hover {
  text-decoration: underline;
}

/* Resized mobile images */

.documentContext img.mobile-resized {
        display: block;
}


/* Content styles */
.image-right, .image-left {
  border: none;
}



/* Forms */

.field {
    padding-bottom: 1em;
}

.formHelp {
    color: #666;
}

.fieldRequired {
    background: white url(++resource++gomobile.mobile/required.gif) center left no-repeat;
    padding: 0 0 0 8px;
    color: white;
}

.error .fieldRequired {
   color: #d00;
}

.legend,
label {
    font-weight: bold;
}

div.error {
    /* Class for error indication in forms */
    background-color: #fdc;
    border: 1px solid #d00;
    padding: 0.5em;
    margin: 0 0 1em 0;
    width: 95%;
}

/* Make text area text more visible than normal grey */
input[type=text],
input[type=password],
textarea, select {
    width: 80%;
    
    /* CSS reset causes problems for iPhone */
   padding: 0.5em;
}

/* Make user inputed text more readable */
input[type=text],
textarea {
	font-weight: bold;
        font-family: "Courier New" Courier monospace;
}


/* Search */

input[name=SearchableText] {
	width: 66%;
}

.searchResults dt {
    padding-bottom: 1em;
}

.searchResults dt a {
    font-size: 120%;
    font-weight: bold;
}

/* Status messages */

dl.portalMessage {
    background-color: #ffffe3;
    border: 1px solid #996;
}
dl.portalMessage a {
    color: black;
    border: none;
    text-decoration: underline;
}
dl.portalMessage dt {
    background-color: #996;
    font-weight: bold;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.75em;
    color: White;
    line-height: 1.25em;
}
dl.portalMessage dd {
    padding: 0.5em 0.5em;
    margin: 0;
    line-height: 1.25em;
}
dl.warning {
    border-color: #d80;
}
dl.warning dt {
    background-color: #d80;
}
dl.error {
    border-color: #d00;
}
dl.error dt {
    background-color: #d00;
}
dl.warning {
    border-color: #d80;
}
dl.warning dd {
    background-color: #fd7;
}
dl.error {
    border-color: #d80;
}
dl.error dd {
    background-color: #fd7;
}

/* Footer and batching controls */

.listingBar {
   background: #ddd;
   margin: 0.5em 0 0.5em 0;
   padding: 0.5em;
}

#footer {
    background: #ddd;
    padding: 1em;
    font-size: 80%;
    
    line-height: 2.5em;
}

#footer a,
#footer a:visited,
#footer a:active,
.listingBar a,
.listingBar a:visited,
.listingBar a:active  {
    color: #205C90;
    text-decoration: none;
    font-weight: bold;
}

#footer a:hover,
.listingBar a:hover {
    background-color: #205C90;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.listingBar a,
.listingBar .current {
        margin-left: 1em;
	padding: 0.5em;
}



/* Site sections in footer */

#portal-globalnav { list-style: none; text-align:center; padding: 0; margin-bottom: 1em; }
#portal-globalnav li { display: inline-block; margin-bottom: 1.5px; }
#portal-globalnav li a { padding: 0.5em; padding-right: 0.7em; }

#footer-links, #portal-breadcrumbs { text-align: center; }

#footer-text { text-align: center; }

/* Individual template styling  */

/* Add padding to default Plone folder listing view */

.folder-listing .description {
        margin-top: 0.5em;
        margin-bottom: 1em;
        display: block;
}

/* Separate automatic folder listing from content */

.mobile-folder-listing-heading {
        border-top: 1px dotted #aaa;
        padding-top: 0.5em;
	margin-top: 0.5em;
        color: #666;
}

/* This will appear in the footer if the site has KSS enabled forms - since Javascript is missing we cant show it */
 
.hiddenStructure,
#kss-spinner {
    display: none;
}
