/**
 * Styles for smartphone browsers (webkit based).
 *
 * Use images more extensively than lowend.css
 */

/* TODO: convert to CSS sprites */

.documentFirstHeading {
    text-shadow: #aaa 0px 2px 0px;	
}

#content ul {
/*
    list-style-image: url(++resource++gomobiletheme.basic/arrow-blue.png);
*/
}

#header {
	background-image: -moz-linear-gradient(top, #ddd, #eee 40%, #bbb);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDDDDD), to(#AAAAAA), color-stop(0.4, #eeeeee));
}

/* Adjustments for 320 x 480 phones */

@media screen and (min-device-width: 481px) {
	#mobile-site-actions li {
	        margin-left: 24px;
	}
}


#header-shadow-wrapper {
    overflow: hidden;	
}

/* FF 3.6 could not properly assign shadow to #header - this must have color and height.
 * 
 * Drop shadow expands to right the amount of blur pixels which must be handled by overflow wrapping. 
 */
#header-shadow { 
    background: #333;
    height: 1px;
    margin: 0;
    margin-bottom: 7px;


    -moz-box-shadow: 0 2px 4px #333;
    -webkit-box-shadow: 0px 2px 4px #333;
    -o-box-shadow: 0px 2x 4px #333;
    box-shadow: 0px 2px 4px #333;
    
}


#footer {
	border-top: 1px solid #666;
        background-image: -moz-linear-gradient(top, #bbb, #ddd 30px);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbb), to(#ddd), color-stop(0.3, #ddd));
}

#visual-margin {
    background: white url(++resource++gomobiletheme.basic/gradient.gif) repeat-x top left;
}

/* Automatic mobile folder listings at the end of the page - do iPhone style rounded corner navigation menu */

#content ul#mobile-folder-listing {
        border: 2px solid #aaa;
        list-style: none;
        
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -o-border-radius: 10px;
        -border-radius: 10px;
        
	
        padding: 0;
	margin: 0;
	margin-top: 1em;
}

#content #mobile-folder-listing li {
	margin: 0;
	padding: 0;
}

#mobile-folder-listing li a {     
        background: transparent url(++resource++gomobiletheme.basic/navigation_arrow_grey.png) no-repeat center right;
        padding: 5px 15px 5px 0;
        margin: 0;
        border-bottom: 2px solid #aaa;
	display: block;
}

#mobile-folder-listing li:last-child a {
        border: 0;
}

#mobile-folder-listing li a span {
        margin: 5px 0 5px 0;
        display: block;
        width: 100%;    
        padding-left: 5px;
}

#mobile-folder-listing li a:hover {
        text-decoration: none;
}     

#mobile-folder-listing li:hover {
        background: #aaa;
        color: white;
}

/* Content and template specific adjustments */

/* This is multicolor line */
body.template-search .documentFirstHeading {
	text-shadow: none;
} 
