/**
 * Styles for smartphone browsers (webkit based). 
 * 
 * Use images more extensively than lowend.css
 */

/* TODO: convert to CSS sprites */

.documentContent ul {
    list-style-image: url(++resource++plonecommunity.app/arrow-blue.png);
}

#portal-header {
	background: #329FD7 url(++resource++plonecommunity.app/header.gif) repeat-x bottom left;
	padding-bottom: 20px;
}

#portal-footer {
	padding-top: 20px;
	background: #329FD7 url(++resource++plonecommunity.app/footer.gif) repeat-x top left;
}

#portal-columns {
	background: white url(++resource++plonecommunity.app/gradient.gif) repeat-x top left;
}
