#
# This file contains Mr.Developer ( http://pypi.python.org/pypi/mr.developer )
# commands to include Plone Go Mobile trunk buildout into your buildout setup.
#
# See instructions http://code.google.com/p/plonegomobile/source/browse/trunk/gomobile/gomobile.buildout/checkout.txt
#

#gomobile-checkout-protocol=https

parts = lxml

##########################################
#
# Mr. Developer section defining GetPaid trunk products which are needed for the system to function
#
[sources]

# This egg is needed by pywurlf in order to import properly
python-Levenshtein = svn http://textindexng.svn.sourceforge.net/svnroot/textindexng/zopyx.txng3.ext/trunk/zopyx/txng3/ext/python-Levenshtein-0.10/
collective.fastview = svn https://svn.plone.org/svn/collective/collective.fastview/trunk
mfabrik.behaviorutilities = svn https://svn.plone.org/svn/collective/mfabrik.behaviorutilities/trunk

# Generic Python low level mobile framework
mobile.sniffer = svn https://mobilesniffer.googlecode.com/svn/trunk/mobile.sniffer
mobile.heurestics = svn https://mobilesniffer.googlecode.com/svn/trunk/mobile.heurestics

gomobile.xhtmlmp = svn https://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobile.xhtmlmp
gomobile.imageinfo = svn https://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobile.imageinfo
gomobile.mobile = svn https://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobile.mobile
gomobile.convergence = svn https://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobile.convergence
gomobile.supporter = svn https://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobile.supporter
gomobiletheme.basic = svn https://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobiletheme.basic
gomobiletheme.twinapex = svn https://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobiletheme.twinapex

[versions]
# See http://plone.org/support/forums/general#nabble-td3257712%7Ca3257712
# zope.component = 3.5.1

##########################################
#
# This section defines GetPaid core eggs - please include additional eggs directly in your buildout.cfg eggs =
#
# More GetPaid eggs can be found from http://code.google.com/p/getpaid/source/browse/
#
[gomobile.config]
parts =

eggs =
    pywurfl
    python-Levenshtein
    mobile.sniffer
    mobile.heurestics
    mfabrik.behaviorutilities
    gomobile.xhtmlmp
    gomobile.imageinfo
    gomobile.mobile
    gomobile.convergence
    gomobile.supporter
    gomobiletheme.basic
    gomobiletheme.twinapex

zcml =
    gomobile.imageinfo
    gomobile.mobile
    gomobile.convergence
    gomobile.supporter



[lxml]
recipe=plone.recipe.lxml
egg = lxml == 1.3.3

#
# EXAMPLES - copy the following in to your buildout.cfg by hand
# As this configuration might differ from computer to computer
#

[omelette]
# NOTE: Not used - [instance] section not always present in main buildout.cfg
# Map eggs to one symlinked hierarchy
# for easier navigation and code reading
# See parts/omelette after running buildout
#recipe = collective.recipe.omelette
#eggs = ${instance:eggs}
#products = ${instance:products}
#packages = ${zope2:location}/lib/python ./

[PIL]
# Build egg with Chris McDonough's custom packaging of setuptools-compatibile PIL
# http://article.gmane.org/gmane.comp.web.zope.devel/13999
#recipe = zc.recipe.egg
#egg = PIL==1.1.6
#find-links = http://dist.repoze.org/PIL-1.1.6.tar.gz

