#
# This file contains Mr.Developer ( http://pypi.python.org/pypi/mr.developer )
# commands to include Plone Go Mobile trunk buildout into your buildout setup.
#
# See instructions http://code.google.com/p/plonegomobile/source/browse/trunk/gomobile/gomobile.buildout/checkout.txt
#

[buildout]
parts =
   PIL
   lxml

# Define component pindowns from "good known version set"
# http://good-py.appspot.com/
# 1.0-next-old is set defining five.grok and plone.z3cform pindowns for Plone 3
extends = 
        http://good-py.appspot.com/release/dexterity/1.0b2?plone=4.0
        
# Use Mr. Developer recipe to checkout source code
# http://pypi.python.org/pypi/mr.developer
extensions = mr.developer

# Do not try update packages on subsequent buildout runs (as it is slow)
always-checkout = false


[gomobile]
parts =
  PIL
  lxml

# This is for developers without commit rights.
# Some repos allow only authorized users (commit rights) for https protocol 
# Please set this in buildout.cfg extending this file.
#checkout-protocol=http

##########################################
#
# Mr. Developer section defining GetPaid trunk products which are needed for the system to function
#
[sources]

# This egg is needed by pywurlf in order to import properly - it defines search algos in C
python-Levenshtein = svn ${gomobile:checkout-protocol}://plonegomobile.googlecode.com/svn/trunk/python-Levenshtein/trunk

# This contains utilities to stamp in viewlets directly to a page template
collective.fastview = svn ${gomobile:checkout-protocol}://svn.plone.org/svn/collective/collective.fastview/trunk

# This provides plone.behavior helpers for Archetypes based content
mfabrik.behaviorutilities = svn ${gomobile:checkout-protocol}://svn.plone.org/svn/collective/mfabrik.behaviorutilities/trunk

# Generic Python low level mobile framework
# Abstract layer over different handset database
mobile.sniffer = svn ${gomobile:checkout-protocol}://mobilesniffer.googlecode.com/svn/trunk/mobile.sniffer

# Good known rules-of-thumb when dealing with mobile as Python snippets
mobile.heurestics = svn ${gomobile:checkout-protocol}://mobilesniffer.googlecode.com/svn/trunk/mobile.heurestics

# HTML and image transforms for mobile
mobile.htmlprocessing = svn ${gomobile:checkout-protocol}://mobilesniffer.googlecode.com/svn/trunk/mobile.htmlprocessing 

# Go Mobile Core
gomobile.imageinfo = svn ${gomobile:checkout-protocol}://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobile.imageinfo
gomobile.mobile = svn ${gomobile:checkout-protocol}://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobile.mobile
gomobile.convergence = svn ${gomobile:checkout-protocol}://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobile.convergence
gomobile.supporter = svn ${gomobile:checkout-protocol}://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobile.supporter
gomobile.docs = svn ${gomobile:checkout-protocol}://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobile.docs
gomobiletheme.basic = svn ${gomobile:checkout-protocol}://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobiletheme.basic

# Checkout buildout templates so you can edit them also
gomobile.buildout = svn ${gomobile:checkout-protocol}://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobile.buildout

# I just happen to personally use Eclipse + PyDev
# THis should not hurt anyone without it
# Note: You need to Install PythonMonkey manually and it is guaranteed
# to work with Aptana only: http://code.google.com/p/jrfonseca/wiki/PythonMonkey
collective.eclipsescripts = svn ${gomobile:checkout-protocol}://svn.plone.org/svn/collective/collective.eclipsescripts/trunk

# Another one of my personal favorites which I can update while coding
collective.developermanual = svn ${gomobile:checkout-protocol}://svn.plone.org/svn/collective/collective.developermanual/trunk


#
# The following are old, unsupported products and development branches
#
[unsupported]
#gomobiletheme.twinapex = svn ${gomobile:checkout-protocol}://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobiletheme.twinapex
#gomobile.xhtmlmp = svn ${gomobile:checkout-protocol}://plonegomobile.googlecode.com/svn/trunk/gomobile/gomobile.xhtmlmp

[versions]
# All version pindowns should be defined by good-py extension
pywurfl=6.4.1b

# See http://plone.org/support/forums/general#nabble-td3257712%7Ca3257712
# http://plone.org/documentation/kb/easy-forms-with-plone3
# zope.component = 3.5.1
# The latest version does not work with Plone 3
# http://pypi.python.org/pypi/zc.recipe.cmmi
# zc.recipe.cmmi = 1.2.1

##########################################
#
# This section defines GetPaid core eggs - please include additional eggs directly in your buildout.cfg eggs =
#
# More GetPaid eggs can be found from http://code.google.com/p/getpaid/source/browse/
#
[gomobile.config]
parts =
    lxml
        
eggs =
    PIL
    lxml
    python-Levenshtein
    ZPublisherEventsBackport
    pywurfl    
    mobile.sniffer
    mobile.heurestics
    mobile.htmlprocessing
    mfabrik.behaviorutilities
    plone.app.z3cform
    gomobile.imageinfo
    gomobile.mobile
    gomobile.convergence
    gomobile.supporter
    gomobiletheme.basic


zcml =
    gomobile.imageinfo
    gomobile.mobile
    gomobile.convergence
    gomobile.supporter



[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml==2.2.4
force = false

#
# EXAMPLES - copy the following in to your buildout.cfg by hand
# As this configuration might differ from computer to computer
#


# NOTE 2:
# Does not work with exteneding buildout
# Error: Referenced option does not exist: instance products
# [omelette]
# NOTE: Not used - [instance] section not always present in main buildout.cfg if you use ZEO
# Map eggs to one symlinked hierarchy
# for easier navigation and code reading
# See parts/omelette after running buildout
# recipe = collective.recipe.omelette
# eggs = ${instance:eggs}
# products = ${instance:products}
# packages = ${zope2:location}/lib/python ./

[PIL]
# Build egg with Chris McDonough's custom packaging of setuptools-compatibile PIL
# http://article.gmane.org/gmane.comp.web.zope.devel/13999
recipe = zc.recipe.egg
egg = PIL==1.1.6
find-links = http://dist.repoze.org/PIL-1.1.6.tar.gz

