/**
 * CSS styles specific for plonecommunity.mobi site services.
 * 
 * This file is included in HTML by AdditionalHead viewlet.
 */


/* Front page special */

.hot-now .news-item {
        padding: 0.3em;
}

.hot-now .byline {
        color: #888;
}

.hot-now .news-0 {
        background: #ffff88;
}       

.hot-now .news-1 {
        background: #ffffaa;
}       

.hot-now .news-2 {
        background: #ffffdd;
}       

.feed-folder h3 {
	
}

.feed-folder-item {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#content .feed-folder-item p:last-child {
    margin-bottom: 0;
}

.feed-folder-item-odd {
    background: #ddd;
}

.feed-folder-item-even {
    background: white;  
}
 
 