/**
 * CSS styles specific for plonecommunity.mobi site services.
 * 
 * This file is included in HTML by AdditionalHead viewlet.
 */


/* Front page special */

.hot-now .news-item {
        padding: 0.3em;
}

.hot-now .byline {
        color: #888;
}

.hot-now .news-0 {
        background: #ffff88;
}       

.hot-now .news-1 {
        background: #ffffaa;
}       

.hot-now .news-2 {
        background: #ffffdd;
}       

 
 