/*
 * Why the fuck Apple didn't make an viewport option where you could
 * combine viewport with native iPhone 4 retina resolution?
 * 
 * Now we need to go through all this shit to fix iPhone 4.
 *
 * This CSS is dynamically loaded from Javascript when iPhone 4 is detected.
 * 
 */


/* We assume 1.2em is the default body font size */


h1 {
	font-size: 2.5em;
}

h2 {
        font-size: 1.8em;	
}

.documentDescription, .discreet, .documentByLine {
        font-size: 1em;	
}

#portal-breadcrumbs,
#footer-text,
#portal-globalnav {
    font-size: 1em;
}


